/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

body {
	margin:0;
	background:url(../images/bg-body.png) repeat-x left top #003155;
	font-family:Arial, Helvetica, sans-serif;
}
a {
	outline:none;
}
a img {
	border:0;
	display:block;
}
.background {
	background:url(../images/bg-background.jpg) no-repeat center top;
    background-position: right top;

}
.page {
	width:960px;
	margin:0 auto;
	padding:97px 0 35px;
}


.header {
	background:none #030303;
	height:70px;
	margin:0 10px;
	padding:30px 0 0 33px;
}
.header a#logo {
	display:block;
	float:left ;
	font-family:bevanregular;
	height:20px;
	width:50px;
}
.header ul {
	float:right;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:9px 33px 0 0;
}
.header ul li:first-child {
	margin:0;
}
.header ul li {
	float:left;
	margin:0 0 0 36px;
}
.header ul li a {
	color:#fbfbf4;
	font-family:bevanregular;
	font-size:14px;
	font-weight:400;
	letter-spacing:.025em;
	line-height:30px;
	text-decoration:none;
	text-transform:uppercase;
}
.header ul li.selected a, .header ul li a:hover {
    color:#ff7505;}
 .body {
	background:url(../images/bg-content.png) no-repeat left bottom #fbfbf4;
	margin:0 0 12px;
	min-height:1188px;
     padding:12px 10px 10px;}   

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe {
    
}
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#menu{
      position: absolute;
    bottom: 0px;
    left: 5px;    
    top: 155px
  
    
}    

#caster {
    
     width: 120px;
    height: 20px;
    
    position: absolute;
    bottom: 0px;
    left: 190px;    
    top: 155px
    
    
  
}



#chat {
        
 width: 80px;
    height: 200px;
    border: 0px solid black;
    position: absolute;
    bottom: 0px;
    left: 430px;    
    top: 310px;
   
}

#mainfeed {
    width: 180px;
     
    position: absolute;
    bottom: 0px;
    left: 360px;    
    top: 155px;
    
    
    
}



#btnVideo {
    padding: 0;
    border: none;
    background: none;

}    

.startPlayingWrapper {
    width: 68vw;
	/*margin: 10px;
	padding: 20px 10px 10px 10px;*/
	position: relative;
	display: block;
}

.startPlaying {
    
    float: center;
    text-align: center;
    font-size: 10px;
    font-family: 'Arvo', serif; 
    color:#FFDB58;
    cursor: pointer;
	position: relative;
}    

#footer {
  position: relative;
  margin-top: -18vh; /* negative value of footer height */
  height: 10vh;
  clear:both;
} 

.block1 {
    width:  70vw;
    height: 20px;
    border: px solid green;
    position: relative;
}

.block2 {
    color: blue;
    width: 153px;
    height: 180px;
    border: 0.4px solid black;
    position: fixed;
    bottom: px;
    left: 0px;
   
}

#tlkio-parent #tlkio {
    background-color: white;


}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}