/* CSSTerm.com Simple CSS menu */

.menu_simple ul {
    margin: 0; 
    padding: 0;
    width:258px;
    list-style-type: none;
    
    position: relative;
    bottom: -210px;
    left: -176px;    
    top: 0px
    padding: 0px;
    border-color: gainsboro;
    border-width: 1px;
    border-style: outset;  
}

.menu_simple ul li a {
    text-decoration: none;
    color: white; 
    padding: 10.5px 11px;
    background-color: black;
    display:block;
}
 
.menu_simple ul li a:visited {
    color: white;
}
 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: white;
    background-color: #5FD367;
}
